<template>
  <v-list-item-icon v-if="arrow === 0"><v-icon v-text="'mdi-chevron-up'" /></v-list-item-icon>
  <v-list-item-icon v-else-if="arrow === 1"><v-icon v-text="'mdi-chevron-down'" /></v-list-item-icon>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
@Component
export default class ArrowNavigation extends Vue {
  @Prop({ default: 2 })
  private arrow!: number;
}
</script>

<style></style>
