<template>
  <v-expansion-panel>
    <v-expansion-panel-header>Kopiuj</v-expansion-panel-header>
    <v-expansion-panel-content>
      <div class="list" v-if="onlyClickedCards.length">
        <v-chip
                v-for="card in onlyClickedCards"
                :key="card.id"
                class="ma-2"
                x-small
        >{{`${card.id}: ${card.name}`}}</v-chip>
        <v-btn v-clipboard="copyString">Kopiuj</v-btn>
      </div>
      <p v-else>Brak zaznaczonych kart</p>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { EventBus } from "@/components/core/EventBus";
import ClickedCardInterface from "@/interfaces/core/ClickedCardInterface";
@Component
export default class CopyNavigation extends Vue {
  private listOfCards: ClickedCardInterface[] = [];
  
  get onlyClickedCards() {
    return this.listOfCards.filter(card => {
      return card.clicked;
    });
  }
  
  get copyString() {
    return this.onlyClickedCards.map(card => card.id).join(" ");
  }

  private created() {
    EventBus.$on("card-sendPickedStatus", this.changePickedCard);
  }

  private changePickedCard(pickedCard: ClickedCardInterface) {
    const index: number = this.listOfCards.findIndex(
      (data: ClickedCardInterface) => {
        return pickedCard.id === data.id;
      }
    );

    if (index >= 0) {
      this.listOfCards[index].clicked = pickedCard.clicked;
    } else {
      this.listOfCards.push(pickedCard);
    }
  }

  private searching(searchValue: string) {
    if (2 < searchValue.length) {
      EventBus.sendSearchData(searchValue);
    }
    if (!searchValue.length) {
      EventBus.sendSearchData(null);
    }
  }
  private clearData() {
    EventBus.sendSearchData(null);
  }
}
</script>

<style></style>
