<template>
  <v-navigation-drawer app clipped v-model="drawer">
    <v-expansion-panels v-if="menuList.tag === true">
      <TagNavigation />
      <SearchingNavigation />
      <SortingNavigation />
      <CopyNavigation />
    </v-expansion-panels>
    <!--    <v-list dense>-->
    <!--      <v-list-item :key="item.text" v-for="item in items">-->
    <!--        <v-list-item-action>-->
    <!--          <v-icon>{{ item.icon }}</v-icon>-->
    <!--        </v-list-item-action>-->
    <!--        <v-list-item-content>-->
    <!--          <v-list-item-title>-->
    <!--            {{ item.text }}-->
    <!--          </v-list-item-title>-->
    <!--        </v-list-item-content>-->
    <!--      </v-list-item>-->
    <!--            <v-subheader class="mt-3 grey&#45;&#45;text text&#45;&#45;darken-1">SUBSCRIPTIONS</v-subheader>-->
    <!--            <v-list>-->
    <!--              <v-list-item :key="item.text" v-for="item in items2">-->
    <!--                <v-list-item-avatar>-->
    <!--                  <img-->
    <!--                    :src="-->
    <!--                      `https://randomuser.me/api/portraits/men/${item.picture}.jpg`-->
    <!--                    "-->
    <!--                    alt=""-->
    <!--                  />-->
    <!--                </v-list-item-avatar>-->
    <!--                <v-list-item-title v-text="item.text"></v-list-item-title>-->
    <!--              </v-list-item>-->
    <!--            </v-list>-->
    <!--            <v-list-item class="mt-3">-->
    <!--              <v-list-item-action>-->
    <!--                <v-icon color="grey darken-1">add_circle_outline</v-icon>-->
    <!--              </v-list-item-action>-->
    <!--              <v-list-item-title class="grey&#45;&#45;text text&#45;&#45;darken-1"-->
    <!--                >Browse Channels</v-list-item-title-->
    <!--              >-->
    <!--            </v-list-item>-->
    <!--            <v-list-item>-->
    <!--              <v-list-item-action>-->
    <!--                <v-icon color="grey darken-1">settings</v-icon>-->
    <!--              </v-list-item-action>-->
    <!--              <v-list-item-title class="grey&#45;&#45;text text&#45;&#45;darken-1"-->
    <!--                >Manage Subscriptions</v-list-item-title-->
    <!--              >-->
    <!--            </v-list-item>-->
    <!--    </v-list>-->
  </v-navigation-drawer>
</template>

<script lang="ts">
import { Prop, Component, Vue, Watch } from "vue-property-decorator";
import TagNavigation from "@/components/core/navigation/TagNavigation.vue";
import SearchingNavigation from "@/components/core/navigation/SearchingNavigation.vue";
import SortingNavigation from "@/components/core/navigation/SortingNavigation.vue";
import CopyNavigation from "@/components/core/navigation/CopyNavigation.vue";
@Component({
  components: {
    CopyNavigation,
    SortingNavigation,
    SearchingNavigation,
    TagNavigation
  }
})
export default class Navigation extends Vue {
  private created() {
    if (this.$route.name === "Waifu") {
      this.menuList.tag = this.menuList.search = this.menuList.filter = true;
    }
  }

  private menuList: any = {
    tag: false,
    search: false,
    filter: false
  };

  @Prop()
  drawer!: boolean;

  @Watch("$route")
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  private onRouteChange(newVal: any, oldVal: any) {
    if (newVal.name === "Waifu") {
      this.menuList.tag = this.menuList.search = this.menuList.filter = true;
    } else {
      this.menuList.tag = this.menuList.search = this.menuList.filter = false;
    }
  }

  public items: any = [
    { icon: "trending_up", text: "Most Popular" },
    { icon: "subscriptions", text: "Subscriptions" },
    { icon: "history", text: "History" },
    { icon: "featured_play_list", text: "Playlists" },
    { icon: "watch_later", text: "Watch Later" }
  ];
  public items2: any = [
    { picture: 28, text: "Joseph" },
    { picture: 38, text: "Apple" },
    { picture: 48, text: "Xbox Ahoy" },
    { picture: 58, text: "Nokia" },
    { picture: 78, text: "MKBHD" }
  ];
}
</script>

<style>
#keep.v-navigation-drawer__border {
  display: none;
}
</style>
