<template>
  <v-expansion-panel>
    <v-expansion-panel-header>Szukaj</v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-text-field
        single-line
        clearable
        dark
        placeholder="Szukaj"
        @input="searching"
        @click:clear="clearData"
      />
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { EventBus } from "@/components/core/EventBus";
@Component
export default class SearchingNavigation extends Vue {
  private searching(searchValue: string) {
    if (2 < searchValue.length) {
      EventBus.sendSearchData(searchValue);
    }
    if (!searchValue.length) {
      EventBus.sendSearchData(null);
    }
  }
  private clearData() {
    EventBus.sendSearchData(null);
  }
}
</script>

<style></style>
