import SortArrowEnum from "@/enum/SortArrowEnum"; import SortArrowEnum from
"@/enum/SortArrowEnum";
<template>
  <v-expansion-panel>
    <v-expansion-panel-header>Sortuj</v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-list-item-group>
        <v-list-item
          v-for="(item, index) in sortingDataChangable"
          :key="index"
          @click="changeSorting(index)"
        >
          <v-list-item-content>
            <v-list-item-title
              v-text="sortingObject.sortingDictionary[index]"
            />
          </v-list-item-content>
          <v-list-item-icon><v-icon v-text="getArrow(item)"/></v-list-item-icon>
        </v-list-item>
      </v-list-item-group>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import SortEnum from "@/enum/SortEnum";
import SortArrowEnum from "@/enum/SortArrowEnum";
import SortingObject from "@/objects/core/SortingObject";
import ArrowNavigation from "@/components/core/navigation/ArrowNavigation.vue";
import { EventBus } from "@/components/core/EventBus";

@Component({
  components: { ArrowNavigation }
})
export default class SortingNavigation extends Vue {
  private sortingData: SortArrowEnum[] = [];
  private sortingObject: SortingObject = new SortingObject();

  private created() {
    this.setSortingData();
  }

  get sortingDataChangable() {
    return this.sortingData;
  }

  private setSortingData() {
    this.sortingData[SortEnum.NAME] = SortArrowEnum.NONE;
    this.sortingData[SortEnum.RANK] = SortArrowEnum.NONE;
    this.sortingData[SortEnum.TITLE] = SortArrowEnum.NONE;
    this.sortingData[SortEnum.HEALTH] = SortArrowEnum.NONE;
    this.sortingData[SortEnum.ATTACK] = SortArrowEnum.NONE;
    this.sortingData[SortEnum.DEFENSE] = SortArrowEnum.NONE;
    this.sortingData[SortEnum.ID] = SortArrowEnum.UP;
  }

  private getArrow(arrow: number) {
    if (arrow === SortArrowEnum.UP) {
      return "mdi-chevron-up";
    }
    if (arrow === SortArrowEnum.DOWN) {
      return "mdi-chevron-down";
    }
    return null;
  }

  private changeSorting(index: number) {
    const sortingArray: SortArrowEnum[] = [];
    let sort = this.sortingData[index];

    sort =
      sort === SortArrowEnum.NONE
        ? SortArrowEnum.UP
        : sort === SortArrowEnum.UP
        ? SortArrowEnum.DOWN
        : SortArrowEnum.NONE;

    this.sortingData.forEach((test: SortArrowEnum, i: number) => {
      if (i === index) {
        sortingArray[i] = sort;
      } else {
        sortingArray[i] = SortArrowEnum.NONE;
      }
    });

    if (sort === SortArrowEnum.NONE) {
      sortingArray[SortEnum.ID] = SortArrowEnum.UP;
      index = SortEnum.ID;
    }

    EventBus.sendSortingData({ sortId: index, sortArray: sortingArray });
    this.sortingData = sortingArray;
  }
}
</script>

<style></style>
