<template>
  <v-chip class="ma-2 darken-3" :color="getColor()" text-color="white" @click="changeTag">
    {{ label }}
    <v-avatar right>
      <v-icon>{{ getIcon() }}</v-icon>
    </v-avatar>
  </v-chip>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from "vue-property-decorator";
import { EventBus } from "@/components/core/EventBus";

@Component
export default class TagChip extends Vue {
  @Prop()
  label!: string;

  private choice: string | null = null;

  private created() {
    EventBus.$on("tag-reset", (whatever: boolean) => {
      this.choice = null;
    });
  }

  private getIcon() {
    if (this.choice === null) {
      return "mdi-checkbox-blank-circle-outline";
    }
    if (this.choice === "assign") {
      return "mdi-plus-circle";
    }
    if (this.choice === "reject") {
      return "mdi-minus-circle";
    }
  }

  private getColor() {
    if (this.choice === null) {
      return "grey";
    }
    if (this.choice === "assign") {
      return "green";
    }
    if (this.choice === "reject") {
      return "red";
    }
  }

  @Emit()
  private changeTag(e: any) {
    if (this.choice === "assign") {
      this.choice = "reject";
    } else if (this.choice === "reject") {
      this.choice = null;
    } else {
      this.choice = "assign";
    }

    return { choice: this.choice, id: this.label };
  }
}
</script>

<style>
#keep.v-navigation-drawer__border {
  display: none;
}
</style>
