<template>
  <v-expansion-panel>
    <v-expansion-panel-header>Tagi</v-expansion-panel-header>
    <v-expansion-panel-content>
      <TagChip
        v-for="tag in tagList"
        :key="tag"
        :label="tag"
        @change-tag="modifyTagList"
      />
      <v-btn class="grey darken-3" small @click="sendTags">Zastosuj</v-btn>
      <v-btn small color="error" @click="resetTags">Zresetuj</v-btn>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { EventBus } from "@/components/core/EventBus";
import TagObject from "@/objects/waifu/TagObject";
import TagChip from "@/components/core/navigation/TagChip.vue";
import TagChoiceInterface from "@/interfaces/waifu/TagChoiceInterface";
@Component({
  components: { TagChip }
})
export default class TagNavigation extends Vue {
  private tagList: string[] = [];

  private test: string | null = null;

  private choicedTags: TagChoiceInterface[] = [];

  private sendTags() {
    EventBus.sendTagChoice(this.choicedTags);
  }

  private resetTags() {
    EventBus.sendTagChoice([]);
    EventBus.resetTagChoice();
  }

  private modifyTagList(choice: TagChoiceInterface) {
    const index = this.choicedTags.findIndex((tag: TagChoiceInterface) => {
      return tag.id == choice.id;
    });

    if (index > -1) {
      if (choice.choice == null) {
        this.choicedTags.splice(index, 1);
      } else {
        this.choicedTags[index].choice = choice.choice;
      }
    } else {
      this.choicedTags.push(choice);
    }
  }

  private created() {
    EventBus.$on("tag-sendTag", (tagList: string[]) => {
      this.tagList = tagList;
    });
  }
}
</script>

<style>
#keep.v-navigation-drawer__border {
  display: none;
}
</style>
