<template>
  <div class="loader">
    <div v-if="loading" class="text-center">
      <v-progress-circular indeterminate color="primary" />
    </div>
    <slot v-else />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class Loader extends Vue {
  @Prop({ default: true })
  loading!: boolean;
}
</script>

<style></style>
