<template>
  <v-app-bar app clipped-left color="red" dense>
    <v-app-bar-nav-icon @click.stop="changeDrawer"></v-app-bar-nav-icon>
    <v-icon class="mx-3">fab fa-youtube</v-icon>
    <v-toolbar-title class="mr-5 align-center">
      <span class="title">Pocket-Waifu</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-layout align-center row style="max-width: 650px">
      <Search />
    </v-layout>
  </v-app-bar>
</template>

<script lang="ts">
import { Emit, Component, Vue } from "vue-property-decorator";
import Search from '@/components/core/appbar/Search.vue'
@Component({
  components: { Search }
})
export default class Appbar extends Vue {
  private drawer = false;

  @Emit()
  private changeDrawer() {
    this.drawer = !this.drawer;
    return this.drawer;
  }
  public items: any = [
    { icon: "trending_up", text: "Most Popular" },
    { icon: "subscriptions", text: "Subscriptions" },
    { icon: "history", text: "History" },
    { icon: "featured_play_list", text: "Playlists" },
    { icon: "watch_later", text: "Watch Later" }
  ];
  public items2: any = [
    { picture: 28, text: "Joseph" },
    { picture: 38, text: "Apple" },
    { picture: 48, text: "Xbox Ahoy" },
    { picture: 58, text: "Nokia" },
    { picture: 78, text: "MKBHD" }
  ];
}
</script>

<style>
#keep.v-navigation-drawer__border {
  display: none;
}
</style>
