<template>
  <v-autocomplete
    v-model="model"
    :items="items"
    :loading="isLoading"
    :search-input.sync="search"
    background-color="red"
    color="white"
    dark
    flat
    clearable
    hide-details
    hide-selected
    single-line
    item-text="name"
    item-value="id"
    label="Szukaj użytkownika..."
    solo
    @change="goToUserId"
  >
    <template v-slot:no-data>
      <v-list-item>
        <v-list-item-title>
          Wyszukaj
          <strong>Użytkownika</strong>
          z shindena
        </v-list-item-title>
      </v-list-item>
    </template>
    <template v-slot:item="{ item }">
      <v-list-item-avatar
        color="indigo"
        class="headline font-weight-light white--text"
      >
        <v-img :src="item.avatarUrl" />
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title v-text="item.name"></v-list-item-title>
        <v-list-item-subtitle v-text="item.rank"></v-list-item-subtitle>
      </v-list-item-content>
    </template>
  </v-autocomplete>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import UserRepository from "@/repository/UserRepository";
import UserService from "@/services/User/UserService";
import UserObject from "@/objects/user/UserObject";

@Component
export default class Search extends Vue {
  private isLoading = false;
  private items: UserObject[] = [];
  private model = null;
  private search = null;
  private tab: number | null = null;
  private userRepository: UserRepository = new UserRepository();

  private goToUserId(val: any) {
    // this.$router.push({ name: 'Waifu', params: { userId: val}});
    this.$router.push({ path: `/user/${val}` });
  }

  @Watch("model")
  private onModelChange(value: number | null) {
    if (value != null) this.tab = 0;
    else this.tab = null;
  }

  @Watch("search")
  private async onSearchChange(value: string | null) {
    if (value === null || value.length < 3) return;

    this.isLoading = true;

    const result = await this.userRepository.findUser(value);
    this.items = UserService.assignUserFromResponseToObjectList(result);

    this.isLoading = false;
  }
}
</script>

<style>
#keep.v-navigation-drawer__border {
  display: none;
}
</style>
