<template>
  <div class="home">
    <h1>Witaj w Pocket Waifu!</h1>
  </div>
</template>

<script>
// @ is an alias to /src
// import WaifuScreen from "@/components/WaifuScreen.vue";

export default {
  name: "Home",
  components: {}
};
</script>
