<template>
  <div class="waifu">
    <WaifuScreen :user-id="$route.params.userId" />
  </div>
</template>

<script>
// @ is an alias to /src
import WaifuScreen from "@/components/WaifuScreen.vue";

export default {
  name: "Waifu",
  components: {
    WaifuScreen
  }
};
</script>
