import SortArrowEnum from "@/enum/SortArrowEnum";
<template>
  <v-container>
    <loader :loading="loading">
      <v-row class="text-center">
        <h1 v-if="!waifuList.length">Brak listy waifu</h1>
        <v-col
          v-else
          v-for="waifu in waifuDataList"
          :key="waifu.id"
          :cols="countColNumber"
        >
          <WaifuCard :waifu-object="waifu" :clicked="waifuClickedList[waifu.id]" />
        </v-col>
      </v-row>
    </loader>
  </v-container>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import WaifuRepository from "@/repository/WaifuRepository";
import WaifuObject from "@/objects/waifu/WaifuObject";
import Loader from "@/components/core/Loader.vue";
import WaifuCard from "@/components/waifu/WaifuCard.vue";
import WaifuService from "@/services/Waifu/WaifuService";
import { EventBus } from "@/components/core/EventBus";
import TagObject from "@/objects/waifu/TagObject";
import TagChoiceInterface from "@/interfaces/waifu/TagChoiceInterface";
import SortArrowEnum from "@/enum/SortArrowEnum";
import SendSortingInterface from "@/interfaces/core/SendSortingInterface";
import SortEnum from "@/enum/SortEnum";
import SortingHelper from "@/helper/SortingHelper";
import RarityEnum from "@/enum/RarityEnum";
import RarityObject from "@/objects/waifu/RarityObject";
import { CopyArray } from "@/store/waifu/types";

@Component({
  components: { WaifuCard, Loader }
})
export default class WaifuScreen extends Vue {
  @Prop({ default: 15450 })
  private userId!: number;

  private windowsWidth = 0;

  private WaifuRepository: WaifuRepository = new WaifuRepository();
  private waifuList: WaifuObject[] = [];
  private choicedTags: TagChoiceInterface[] = [];
  private loading = true;
  private waifuClickedList: boolean[] = [];
  private onlyReject = false;
  private search: string | null = null;
  private sorting: SortArrowEnum[] = [];
  private sortingIndex: number | null = null;

  get waifuDataList() {
    if (this.search !== null && 2 < this.search.length) {
      return this.sortList(this.searchInList(this.tagFilterList));
    }

    return this.sortList(this.tagFilterList);
  }

  get tagFilterList() {
    return this.waifuList.filter((waifu: WaifuObject) => {
      if (!this.choicedTags.length) {
        return true;
      }

      let isTagged = false;

      for (let index = 0; index < this.choicedTags.length; index++) {
        if (waifu.getArrayOfTagName().includes(this.choicedTags[index].id)) {
          if (this.choicedTags[index].choice === "reject") {
            return false;
          }

          isTagged = true;
        }
      }

      if (!isTagged && this.onlyReject) {
        return true;
      }
      return isTagged;
    });
  }

  get countColNumber() {
    const colNumber: number =
      this.windowsWidth > 1200 ? 2 : this.windowsWidth > 700 ? 3 : 4;
    if (this.waifuDataList.length < 7) {
      return Math.floor(12 / this.waifuDataList.length);
    }

    return colNumber;
  }

  private waifuClicked(data: any) {
    this.waifuClickedList.splice(data.id, 1, data.clicked);
  }

  async created() {
    window.addEventListener("resize", this.handleResize);
    this.handleResize();

    const result = WaifuService.assignResponseToWaifuObject(
      await this.WaifuRepository.getUserCards(this.userId)
    );
    if (result.length === 0) {
      this.loading = false;
    } else {
      this.waifuList = result;
      result.forEach((waifu: WaifuObject) => {
        this.waifuClickedList[waifu.id] = false;
      });
      EventBus.sendTagData(this.gatherTags());
      EventBus.$on("tag-choice", this.maintainTagChoices);
    }
    EventBus.$on("search-value", this.changeSearch);
    EventBus.$on("sorting-sendSorting", this.assignSorting);
    EventBus.$on("card-sendPickedStatus", this.waifuClicked);
    this.loading = false;
  }

  private sortList(waifuList: WaifuObject[]) {
    if (waifuList.length < 2 || this.sortingIndex === null) {
      return waifuList;
    }
    return waifuList.sort((a: WaifuObject, b: WaifuObject) => {
      if (this.sortingIndex === SortEnum.TITLE) {
        const result = SortingHelper.compareString(
          a.title.trim(),
          b.title.trim()
        );

        return this.sorting[this.sortingIndex] === SortArrowEnum.UP
          ? result
          : result * -1;
      }

      if (this.sortingIndex === SortEnum.NAME) {
        const result = SortingHelper.compareString(
          a.name.trim(),
          b.name.trim()
        );

        return this.sorting[this.sortingIndex] === SortArrowEnum.UP
          ? result
          : result * -1;
      }

      if (this.sortingIndex === SortEnum.HEALTH) {
        const result = SortingHelper.compareNumber(a.health, b.health);

        return this.sorting[this.sortingIndex] === SortArrowEnum.UP
          ? result
          : result * -1;
      }

      if (this.sortingIndex === SortEnum.DEFENSE) {
        const result = SortingHelper.compareNumber(a.defence, b.defence);

        return this.sorting[this.sortingIndex] === SortArrowEnum.UP
          ? result
          : result * -1;
      }

      if (this.sortingIndex === SortEnum.ATTACK) {
        const result = SortingHelper.compareNumber(a.attack, b.attack);

        return this.sorting[this.sortingIndex] === SortArrowEnum.UP
          ? result
          : result * -1;
      }

      if (this.sortingIndex === SortEnum.ID) {
        const result = SortingHelper.compareNumber(a.id, b.id);

        return this.sorting[this.sortingIndex] === SortArrowEnum.UP
          ? result
          : result * -1;
      }

      if (this.sortingIndex === SortEnum.RANK) {
        const result = SortingHelper.compareNumber(
          RarityObject.rarityDictionary[a.rarity],
          RarityObject.rarityDictionary[b.rarity]
        );

        return this.sorting[this.sortingIndex] === SortArrowEnum.UP
          ? result
          : result * -1;
      }

      return 1;
    });
  }

  private searchInList(waifuList: WaifuObject[]) {
    return waifuList.filter((waifu: WaifuObject) => {
      return (
        this.search !== null &&
        (waifu.name.toLowerCase().includes(this.search) ||
          waifu.title.toLowerCase().includes(this.search))
      );
    });
  }

  private handleResize() {
    this.windowsWidth = window.innerWidth;
  }

  private changeSearch(searchValue: string | null) {
    this.search = searchValue !== null ? searchValue.toLocaleLowerCase() : null;
  }

  private gatherTags() {
    const uniqueTagList: string[] = [];

    this.waifuList.forEach((waifu: WaifuObject) => {
      if (waifu.tagList.length) {
        waifu.tagList.forEach((tag: TagObject) => {
          if (!uniqueTagList.includes(tag.name)) {
            uniqueTagList.push(tag.name);
          }
        });
      }
    });

    return uniqueTagList;
  }

  private assignSorting(sortingArray: SendSortingInterface) {
    this.sortingIndex = sortingArray.sortId;
    this.sorting = sortingArray.sortArray;
  }

  private maintainTagChoices(choices: TagChoiceInterface[]) {
    const tag = JSON.parse(JSON.stringify(choices));
    this.choicedTags = tag;

    const numberOfReject = this.choicedTags.filter(
      (tag: TagChoiceInterface) => {
        if (tag.choice == "reject") {
          return true;
        }
      }
    );

    this.onlyReject = numberOfReject.length === this.choicedTags.length;
  }

  public ecosystem: any = [
    {
      text: "vuetify-loader",
      href: "https://github.com/vuetifyjs/vuetify-loader"
    },
    {
      text: "github",
      href: "https://github.com/vuetifyjs/vuetify"
    },
    {
      text: "awesome-vuetify",
      href: "https://github.com/vuetifyjs/awesome-vuetify"
    }
  ];
  importantLinks: any = [
    {
      text: "Documentation",
      href: "https://vuetifyjs.com"
    },
    {
      text: "Chat",
      href: "https://community.vuetifyjs.com"
    },
    {
      text: "Made with Vuetify",
      href: "https://madewithvuejs.com/vuetify"
    },
    {
      text: "Twitter",
      href: "https://twitter.com/vuetifyjs"
    },
    {
      text: "Articles",
      href: "https://medium.com/vuetify"
    }
  ];
  whatsNext: any = [
    {
      text: "Explore components",
      href: "https://vuetifyjs.com/components/api-explorer"
    },
    {
      text: "Select a layout",
      href: "https://vuetifyjs.com/layout/pre-defined"
    },
    {
      text: "Frequently Asked Questions",
      href: "https://vuetifyjs.com/getting-started/frequently-asked-questions"
    }
  ];
}
</script>
