<template>
  <v-card>
    <v-img
      :src="getUrl(waifuObject.id)"
      class="white--text align-end"
      contain
    ><v-btn
          absolute
          dark
          fab
          bottom
          right
          x-small
          color="pink"
          style="bottom: 16px"
          @click="changeClicked"
  >
    <v-icon v-if="clicked">mdi-check</v-icon>
      <v-icon v-else>mdi-plus</v-icon>
  </v-btn>
    </v-img>
    <v-card-subtitle class="pb-0" v-text="getNameWithId()" />
    <v-card-text class="text--primary">
      <div class="text">Anime: {{ waifuObject.title }}</div>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import WaifuObject from "@/objects/waifu/WaifuObject";
import BooleanHelper from "@/helper/BooleanHelper";
import {EventBus} from "@/components/core/EventBus";

@Component
export default class WaifuCard extends Vue {
  @Prop()
  waifuObject!: WaifuObject;

  @Prop({ default: false })
  private clicked = false;

  private getUrl(id: number) {
    const url = `http://cdn2.shinden.eu/${id}.png`;
    return url;
  }

  private changeClicked() {
    this.$store.commit("waifu/updateCopy", {
      clicked: !this.clicked,
      id: this.waifuObject.id,
      name: this.waifuObject.name
    });
    EventBus.sendPickedCardStatus({
      clicked: !this.clicked,
      id: this.waifuObject.id,
      name: this.waifuObject.name
    });
  }

  private getNameWithId() {
    return `${this.waifuObject.id} ${this.addIcons()}: ${
      this.waifuObject.name
    }`;
  }

  private addIcons() {
    let iconList = "";

    if (this.waifuObject.inCage) {
      iconList = iconList + "🔒";
    }
    if (!this.waifuObject.isTradable) {
      iconList = iconList + "⛔";
    }
    if (this.waifuObject.affection <= -50) {
      iconList = iconList + "💔";
    }

    if (this.waifuObject.tagList.length === 0) {
      return iconList;
    }

    const tags = this.waifuObject.tagList;

    for (let i = 0; i < tags.length; i++) {
      switch (tags[i].name) {
        case "ulubione":
          iconList = iconList + "💗";
          break;
        case "rezerwacja":
          iconList = iconList + "📝";
          break;
        case "wymiana":
          iconList = iconList + "🔄";
          break;
      }
    }
    return iconList;
  }

  private translateBoolean(value: boolean) {
    return BooleanHelper.translateBoolean(value);
  }
}
</script>

<style></style>
