<template>
  <v-app id="inspire">
    <Navigation :drawer="drawer" />
    <Appbar @change-drawer="changeDrawer" />
    <v-content>
      <v-container fill-height>
        <v-layout align-center justify-center>
          <v-flex shrink>
            <v-content>
              <router-view :key="$route.fullPath"></router-view>
            </v-content>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HelloWorld from "./components/WaifuScreen.vue";
import Navigation from "@/components/core/navigation/Navigation.vue";
import Appbar from "@/components/core/appbar/Appbar.vue";

@Component({
  components: { Appbar, Navigation, HelloWorld }
})
export default class App extends Vue {
  public drawer = true;
  public items: any = [
    { icon: "trending_up", text: "Most Popular" },
    { icon: "subscriptions", text: "Subscriptions" },
    { icon: "history", text: "History" },
    { icon: "featured_play_list", text: "Playlists" },
    { icon: "watch_later", text: "Watch Later" }
  ];
  public items2: any = [
    { picture: 28, text: "Joseph" },
    { picture: 38, text: "Apple" },
    { picture: 48, text: "Xbox Ahoy" },
    { picture: 58, text: "Nokia" },
    { picture: 78, text: "MKBHD" }
  ];

  private changeDrawer(drawer: boolean) {
    this.drawer = drawer;
  }
}
</script>

<style>
#keep.v-navigation-drawer__border {
  display: none;
}
</style>
